
<div class="container mt-5  mb-5 ">
    <div class="row">
            <div class="col-lg-4">
               <div class="profile-card-4 z-depth-3">
                <div class="card">
                  <div class="card-body text-center bg-primary rounded-top">
                   <div class="user-box">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user avatar" >
                  </div>
                  <h5 class="mb-1 text-white">  {{Employee.firstName}} {{Employee.lastName}}</h5>
                  <h6 class="text-light">{{Employee.position}}</h6>
                 </div>
                 </div>
               </div>
            </div>
            <div class="col-lg-8">
               <div class="card z-depth-3">
                <div class="card-body" >
                <ul class="nav nav-pills nav-pills-primary nav-justified">
                    <li class="nav-item">
                        <a  data-target="#profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                    </li>
                    <li class="nav-item">
                        <a  data-target="#edit" data-toggle="pill"(click)="Update()" class="nav-link btn "><i class="icon-note"></i> <span class="hidden-xs">Edit</span></a>
                    </li>
                </ul>
                <div class="tab-content p-3 ">
                    <div class="tab-pane active show" id="profile">
                        <h5 class="mb-3">User Profile</h5>
                        <div class="row">
                            <div class="col-md-6 ">
                                <h6>First Name</h6>
                                <p>
                                    {{Employee.firstName}}
                                </p>
                                <h6>Last Name</h6>
                                <p>
                                    {{Employee.lastName}}
                                </p>
                                <h6>Email</h6>
                                <p>
                                   {{Employee.email}}
                                </p>
                                <h6>Position</h6>
                                <p>
                                    {{Employee.position}}
                                </p>
                                             
                            </div>
                        </div>
                    </div>
                </div>
          </div> 
        </div>
    </div>