<div class="d-flex justify-content-between align-items-center mt-5">
  <h3 class="text-primary mb-0">List of Person :</h3>
  <button type="button" class="btn btn-primary" (click)="Add()">
    <i class="bi bi-plus"></i> Add
  </button>
</div>

<table class="table mt-2 mb-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Postion</th>
        <th scope="col">Operations</th>  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ListOfPerson  let i = index;" >
        <th scope="row">{{item.id}}</th>
        <td >{{item.firstName}}</td>
        <td >{{item.lastName}}</td>
        <td scope="row">{{item.email}}</td>
        <td>{{item.position}}</td>
        <td>
            <button type="button" class="btn btn-link" (click)="Details(item.id)"><i class="bi bi-info-circle"></i></button>
            <button type="button" class="btn btn-link" (click)="Update(item.id)"><i class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-link" (click)="Delete(item.id)"><i class="bi bi-trash"></i></button>
        </td>
    </tr>
     
   
    </tbody>
  </table>